#Welcome to our test notebook.
We can use markdown

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size':20, 'figure.figsize':(10,8)}) # set font and plot size to be larger

In [24]:
print("this is a test")
x=5
x

this is a test

5

In [12]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2],
    'five':5,
    'six':'seven'
}
purchases = pd.DataFrame(data, index=['June','July','August','September'])

           apples  oranges  five    six
June            3        0     5  seven
July            2        3     5  seven
August          0        7     5  seven
September       1        2     5  seven

In [26]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({
    'name':['john','mary','peter','jeff','bill','lisa','jose'],
    'age':[23,78,22,19,45,33,20],
    'gender':['M','F','M','M','M','F','M'],
    'state':['california','dc','california','dc','california','texas','texas'],
    'num_children':[2,0,0,3,2,1,4],
    'num_pets':[5,1,0,5,2,2,3]
})

print (df)
df

    name  age gender       state  num_children  num_pets
0   john   23      M  california             2         5
1   mary   78      F          dc             0         1
2  peter   22      M  california             0         0
3   jeff   19      M          dc             3         5
4   bill   45      M  california             2         2
5   lisa   33      F       texas             1         2
6   jose   20      M       texas             4         3

    name  age gender       state  num_children  num_pets
0   john   23      M  california             2         5
1   mary   78      F          dc             0         1
2  peter   22      M  california             0         0
3   jeff   19      M          dc             3         5
4   bill   45      M  california             2         2
5   lisa   33      F       texas             1         2
6   jose   20      M       texas             4         3

In [22]:
df.plot(kind='scatter', x='num_children', y='num_pets', color='red')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.